.activity {
  font: 0.75em Helvetica;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
  overflow: auto;
}

.activity .tracker_logo {
  float: left;
  background-image: url(pivotal-tracker-ios-32.png);
  width: 32px;
  height: 32px;
  margin-right: 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.activity .author {
  font-weight: bold;
  float: left;
  width: 120px;
  height: 35px;
}

.activity .occurred_at {
  font-size: 0.5em;
  color: #666;
  margin: 2px 0 0 0;
}

.activity .story_title {
  font-weight: bold;
  font-size: 1em;
  padding-top: 5px;
}

.activity .event_tag {
  background-color: #999;
  font-weight: bold;
  color: white;
  padding: 5px 5px 5px 5px;
  float: left;
  margin-right: 5px;
}
