.activity.pivotal_tracker .accepted {
  background-color: #507C00;
}

.activity.pivotal_tracker .rejected {
  background-color: #851024;
}

.activity.pivotal_tracker .finished {
  background-color: #14274A;
}

.activity.pivotal_tracker .delivered {
  background-color: #E87F00;
}

.activity.pivotal_tracker .logo {
  background-image: url(pivotal-tracker-ios-32.png);
}
